/*---------general styles---------*/




* {
		margin				: 				0 															;
		padding				: 				0 															;
		line-height 		: 				1 															;
}			



body {			
		font-family 		: 				"merriweather","times new roman", serif;
		background			: 				#ffffff													;
		font-size			:   			62.5%                               						; 
}							
ul {
	list-style: none;
}
a {
	text-decoration: none;
}

h1, 			
h2, 			
h3, 			
h4, 			
h5, 			
h6 {			
		font-family 		: 				"merriweather","times new roman", serif;						
}

p {
	line-height: 1.35em;
}
	
/*---------global combinations-----*/
			

img {
	max-width: 100%;
}


.debug{			
		background			: 				red !important												;
}			




.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.hide-text {
text-indent: 100%;
white-space: nowrap;
overflow: hidden;
}

.rwd-line {
	display: block;
}			
			
/*---------specific styles---------*/

header{
	width: 100% ;
	border-top: 6px solid #ec6803;
	border-bottom: 1px solid #cccccc;
	outline-bottom: 4px solid #f2f2f2; 
}
.logo {
	margin-left: 13.642857143%; /*191/1400*/
	margin-top: 1.4em;
	margin-bottom: 1em;
}

.head-nav {
	background: #303438;
	border-left: 9px solid #26292c;
	padding-left: 4em;
}

.btn-input {
	height: 33px;
	width: 67%;
	font-size: 1.5em;
	font-family: georgia,"times new roman", serif;
	margin-top: 1em;
	margin-bottom: 1em;
	border: none;
	color: #b5b6b7;
	background: #45494c;
	padding-left: .5em;
}

.btn-search {
	margin-left: 4.1%;
	margin-bottom: -1em;
}

.nav-1:after,
.nav-2:after,
.nav-3:after {
	content: url(/css/img/right-arrow-2.jpg);
	float: right;
}

.nav-1 {
	margin-top: 1em;
	padding-bottom: 1em;
	width: 85%;
}
.nav-1 a {
	color: #989a9c;
	font-size: 1.4em;
	text-transform: capitalize;
}

.nav-2,
.nav-3 {
	padding-top: 1.2em;
	padding-bottom: 1em;
	width: 85%;
	border-top: 1px solid #45494c;
}

.nav-2 a {
	color: #989a9c;
	font-size: 1.3em;
	text-transform: capitalize;
}
.nav-3 a {
	color: #ffffff;
	font-size: 1.5em;
	text-transform: uppercase;
	font-family : "futurastd", arial, sans-serif;
}
.btop {
	width: 100% ;
	border-top: 4px solid #f2f2f2;
}
.top-head {
	font-size: 2em;
	text-align: left;
	margin-left: 15%; /*210/1400*/
	margin-top: 1.5em;
	line-height: 1.2em;
}
.news-by {
	color: #848484;
	margin-left: 15%; /*210/1400*/

}
.news-by p {
	line-height: 3em;	
}

.news {
	color: #ff993f;
	text-transform: uppercase;
	font-weight: bold;

}

.news-section {
	width: 77.142857143%; /*1080/1400*/
	border-top: 1px solid #6b747c;
	margin: 0 auto;
	margin-top: 1em;
	padding-top: 1.5em;
	font-size: 1.2em;
	/*padding-left: 15.555555556% 168/1080*/
}

.aleksandr-ankvab p{
	color: #bfbfbf;
	font-size: .8em;
	line-height: 2em;
	margin-bottom: 2em;
}

.t{
	width: 5.7em;
	height: 6.7em;
	background: #6b747c;
	padding-left: 2.3em;
	padding-top: 1.3em;
	float: left;
	margin-right: 2em;
	margin-bottom: 1em;
}

.t p{
	color: #ffffff;
	text-transform:uppercase;
	font-size: 5.5em;
	font-family : verdana, arial, sans-serif;
	line-height: 1em;
}

.sentence {
	margin-bottom: 2em;
}

.analysis {
	border-top: 1px solid #cccccc;
	padding-top: 2em;
	width: 250px;
	height: 100px;
	margin:0 auto
}

.analysis img {
	float: left;
	margin-right: 1em;
}

.analysis h2 {
	color: #6b747c;
	text-transform: uppercase;
	font-family : "futurastd", arial, sans-serif;
	font-size: 1em;
	margin-bottom: 1em;
	margin-top: .5em;
}

.analysis a{
	color: #ff993f;
	text-transform: capitalize;
	text-decoration: none;
	font-size: 1em;
}

.top-stories{
	border-top: 1px solid #cccccc;
	padding-top: 2em;
	width: 247px;
	height: 200px;
	margin:0 auto;
	padding-left: .3em;
}

.top-stories h2 {
	color: #6b747c;
	text-transform: uppercase;
	font-family : "futurastd", arial, sans-serif;
	font-size: 1em;
	margin-bottom: 2em;
}

.top-stories a{
	color: #ff993f;
	text-transform: capitalize;
	text-decoration: none;
	font-size: 1em;
}

.sentence2 {
	margin-bottom: 1.5em;
}

.facebook {
	margin-left: 20%;
	margin-right: 20%;
}

.social-media {
	text-align: center;
	margin-bottom: 2em;
}

.related-section {
	width: 77.142857143%; /*1080/1400*/
	border-top: 1px solid #6b747c;
	margin: 0 auto;
	margin-top: 1em;
	padding-top: 1.5em;
	font-size: 1.2em;
}

.related-section h2 {
	color: #6b747c;
	text-transform: uppercase;
	font-family : "futurastd", arial, sans-serif;
	font-size: 1em;
	margin-bottom: 1em;
}

.related-section img {
	width: 120px;
	height: 72px;
	float: left;
	margin-right: 1em;
}

.size{
	height: 100px;
	text-align: left;
	max-width: 304px;
	padding-top: 1.8em;
}

.related-section p {
	font-size: .9em;
	line-height: 1.5em;
	text-transform: capitalize;
}

.border {
	border-top: 1px solid #e5e5e5;
}

.live-blog {
	background: orange;
	font-size: .9em;
	color: #ffffff;
	text-transform: uppercase;
	font-weight: bold;
	text-decoration: none;
	font-family : "futurastd", arial, sans-serif;
	padding: 3px 5px;
	margin-right: .5em;
}

.comments-section {
	width: 90%;
	border-top: 1px solid #6b747c;
	margin: 0 auto;
	margin-top: 1em;
	padding-top: 1.5em;
	font-size: 1.2em;
}

.img-name {
	margin-bottom: 3em;
	float: none;
}

.comments-section p {
	line-height: 1.7em;
}

.big-number {
	display: none;
}

.comments-section h2 {
	font-family : "futurastd", arial, sans-serif;
	text-transform: uppercase;
	color: #6b747c;
}

.comment-box {
	margin-top: 4em;
}

.input-box {
	height: 10.5em;
	width: 100%;
	margin-top: 1.5em;
	margin-bottom: 1.5em;
	outline: 1px solid #cbcbcb;
	border-top: 3px solid #ededed;
	border-left: 3px solid #ededed;
	border-bottom: 1px solid #ededed;
	border-right: 1px solid #ededed;
}

.sub-btn {
	border:none;
	text-transform: uppercase;
	color: #ffffff;
	background: #ec6803; 
	font-weight: bold;
	padding: 1.1em 1em .8em;
	margin-bottom: 2.5em;
}

.comment,
.reply {
	border-top: 1px solid #cccccc;
	padding-top: 2em;
	padding-bottom: 3em;
}

.comment img,
.reply img {

	margin-right: 1.5em;
}
.img-name img{
	float: left;
}

.reply {
	margin-left: 10%;
}

.name {
	font-size: 1.3em;
	font-weight: bold;
	line-height: 1.5em;
}

.date {
	color: #758189;
	font-size: 1.1em;
	line-height: 1.5em;
}
.flag {
	margin-top: 3em;
}

.highlights {
	background: #596168;
	padding-top: 3.5em;
}

.highlights h2 {
	color: #bdc0c3;
	text-transform: capitalize;
	font-family : "futurastd", arial, sans-serif;
	font-size: 2em;
	margin-bottom: 1em;
	margin-left: 2.5%;
}

.highlight-pictures {
	margin-left: 2.5%;
	border-top: 2px solid #6a7177;
	padding-top: 3em;
	padding-bottom: 1em;
}

.highlight-pictures h3 {
	color: #93a0ac;
	font-size: .9em;
	text-transform: uppercase;
	font-family : "futurastd", arial, sans-serif;
	margin-bottom: 1em;
}

.highlight-pictures p {
	color: #ffffff;
	text-transform: capitalize;
	font-size: 1.7em;
	line-height: 1.7em;
	margin-bottom: 2em;
}

.highlight-pictures img {
	width: 305px;
	margin-bottom: 1em;
}
/*@media screen and (min-width: 480px) {
	.rwd-line {
		display: inline;
	}
*/











