/*---------general styles---------*/




* {
		margin				: 				0 															;
		padding				: 				0 															;
		line-height 		: 				1 															;
}			



body {			
		font-family 		: 				"merriweather","times new roman", serif;
		background			: 				#ffffff													;
		font-size			:   			62.5%                               						; 
}							
ul {
	list-style: none;
}
a {
	text-decoration: none;
}

h1, 			
h2, 			
h3, 			
h4, 			
h5, 			
h6 {			
		font-family 		: 				"merriweather","times new roman", serif;						
}

p {
	line-height: 1.35em;
	color: #3a4044;
}

a {
	display: block;
}
/*---------global combinations-----*/
			

img {
	max-width: 100%;
}


.debug{			
		background			: 				red !important												;
}			




.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.hide-text {
text-indent: 100%;
white-space: nowrap;
overflow: hidden;
background-image: url(/img/rfe-logo.png);
background-repeat: no-repeat;
height: 4.2em;
}

.rwd-line {
	display: block;
}			
			
/*---------specific styles---------*/

header{
	width: 100% ;
	border-top: 6px solid #ec6803;
	border-bottom: 1px solid #cccccc;
}

.header-2 {
/*	height: 11em;*/
	border-bottom: 1px solid #6b747c;
	padding-bottom: 1em;
}
.logo {
	/*margin-left: 13.642857143%;*/ /*191/1400*/
/*	margin-left: 2.5%; 
*/	margin-top: .7em;
	margin-bottom: 1em;
	max-width: 220px;
	max-height: 86px;
}
/*.inner {
	background: red;
}*/

.primary-nav {
	background: #303438;
/*	border-left: 9px solid #26292c;*/
}

.search {
	width: 100%;
}

.input {
	height: 33px;
	width: 80%;
	font-size: 1.5em;
	font-family: georgia,"times new roman", serif;
	margin-top: 1em;
/*	margin-bottom: 1em;
*/	border: none;
	color: #b5b6b7;
	background: #45494c;
	padding-left: .5em;
}

.btn-search {
	float: right;
	margin-top: 1.1em;
}


.primary-nav a:after {
	content: url(/css/img/right-arrow-2.jpg);
	float: right;

}

.primary-nav .no-top-border {
/*	margin-top: -1em;
*/	padding-bottom: 1em;
	width: 100%;
	border-top: none;
}
.primary-nav a {
	color: #989a9c;
	font-size: 1.4em;
	text-transform: capitalize;
}

.primary-nav li{
	padding-top: 1.2em;
	padding-bottom: 1em;
	width: 100%;
	border-top: 1px solid #45494c;
}

.primary-nav li{
	color: #989a9c;
	font-size: 1.3em;
	text-transform: capitalize;
}
.media-links a{
	color: #ffffff;
	font-size: 1.5em;
	text-transform: uppercase;
	font-family : "futurastd", arial, sans-serif;
}

.border-top {
	width: 100% ;
	border-top: 4px solid #f2f2f2;
}

.page-width {
	width: 95%;
	margin: 0 auto;
}

.top-head h1 {
	font-size: 1.9em;
	text-align: left;
	/*margin-left: 15%;*/ /*210/1400*/
/*	margin-left: 2.5%;
*/	/*margin-top: 1.5em;*/
	line-height: 1.2em;
}
.news-by {
	color: #848484;
	/*margin-left: 15%;*/ /*210/1400*/
/*	margin-left: 2.5%;
*/}
.news-by p {
	line-height: 2.5em;	
}

.news {
	color: #ff993f;
	text-transform: uppercase;
	font-weight: bold;
	font-family : verdana, arial, sans-serif;
}

.news-section {
	/*width: 77.142857143%;*/ /*1080/1400*/
/*	width: 95%;
*/	
	margin: 0 auto;
	margin-top: 1em;
	/*padding-top: 1.5em;*/
	font-size: 1.2em;
	/*padding-left: 15.555555556% 168/1080*/
}

.aleksandr-ankvab p{
	color: #bfbfbf;
	font-size: .8em;
	line-height: 2em;
	margin-bottom: 2em;
}

.t{
	/*width: 5.7em;
	height: 6.7em;*/
	background: #6b747c;
	padding: 5px 23px 13px;
	float: left;
	margin-right: 18px;
	margin-bottom: 10px;
	color: #ffffff;
	text-transform:uppercase;
	font-size: 5.5em;
	font-family : verdana, arial, sans-serif;

}

.news-section p {
	margin-bottom: 1.5em;
	line-height: 1.7em;
}

.analysis {
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	padding-top: 2em;
	padding-bottom: .5em;
	width: 250px;
	height: 100px;
	margin:0 auto;
	margin-bottom: 2em;
}

.analysis img {
	float: left;
	margin-right: 1em;
}

.analysis h2 {
	color: #6b747c;
	text-transform: uppercase;
	font-family : "futurastd", arial, sans-serif;
	font-size: 1em;
	margin-bottom: 1em;
	margin-top: .5em;
}

.analysis p{
	color: #ff993f;
	text-transform: capitalize;
	text-decoration: none;
	font-size: 1em;
}

.top-stories{
	border-top: 1px solid #cccccc;
	padding-top: 2em;
	border-bottom: 1px solid #cccccc;
	width: 247px;
	height: 193px;
	margin: 0 auto;
	margin-bottom: 2em;
	padding-bottom: 2em;
	padding-left: .3em;
}

.top-stories h2 {
	color: #6b747c;
	text-transform: uppercase;
	font-family : "futurastd", arial, sans-serif;
	font-size: 1em;
	margin-bottom: 2em;
}

.top-stories a{
	color: #ff993f;
	text-transform: capitalize;
	text-decoration: none;
	font-size: 1em;
}

.top-stories p{
	margin-bottom: 1.5em;
}

/*.sentence2 {
	
}*/

.facebook {
/*	margin-left: 20%;
	margin-right: 20%;*/
	clear: both;
}

.twitter {
	float: left;
}

.more {
	float: right;
}

.social-media a {
	display: inline;
}

.social-media {
	text-align: center;
/*	margin-bottom: 2em;
*/	margin-top: .5em;
	/*background: red; */
	padding-top: 1.5em;
	padding-bottom: 1.5em;
/*	width: 95%;
*//*	margin-left: 2.5%; 
*/}

.related-section {
	/*width: 77.142857143%;*/ /*1080/1400*/
	width: 95%;
	border-top: 1px solid #6b747c;
	margin: 0 auto;
	margin-top: 1em;
	padding-top: 1.5em;
	font-size: 1.2em;
}

.related-section h2 {
	color: #6b747c;
	text-transform: uppercase;
	font-family : "futurastd", arial, sans-serif;
	font-size: 1em;
	margin-bottom: 1em;
}

.related-section img {
	width: 120px;
	height: 72px;
	float: left;
	margin-right: 1em;
}

.size{
	height: 100px;
	text-align: left;
	/*max-width: 304px;*/
	width: 100%;
	padding-top: 1.8em;
}

.related-section a {
	margin: 0 auto;
	height: 100%;
	
}

.related-section p {
	font-size: .9em;
	line-height: 1.5em;
	text-transform: capitalize;
}

.border {
	border-top: 1px solid #e5e5e5;
}

.live-blog {
	background: #ec6803;
	font-size: .8em;
	color: #ffffff;
	text-transform: uppercase;
	font-weight: bold;
	text-decoration: none;
	font-family : "futurastd", arial, sans-serif;
	padding: 5px 7px 4px 7px;

}

.comments-section {
	width: 95%;
	border-top: 1px solid #6b747c;
	margin: 0 auto;
	margin-top: 1em;
	padding-top: 1.5em;
	font-size: 1.2em;
}

.img-name {
	margin-bottom: 3em;
	float: none;
}

.comments-section p {
	line-height: 1.7em;
}

.big-number {
	display: none;
}

.comments-section h2 {
	font-family : "futurastd", arial, sans-serif;
	text-transform: uppercase;
	color: #6b747c;
}

.comment-box {
	margin-top: 4em;
}

.input-box {
	height: 10.5em;
	width: 100%;
	margin-top: 1.5em;
	margin-bottom: 1.5em;
	outline: 1px solid #cbcbcb;
	border-top: 3px solid #ededed;
	border-left: 3px solid #ededed;
	border-bottom: 1px solid #ededed;
	border-right: 1px solid #ededed;
}

.sub-btn {
	border:none;
	text-transform: uppercase;
	color: #ffffff;
	background: #ec6803; 
	font-weight: bold;
	padding: 1.1em 1em .8em;
	margin-bottom: 2.5em;
}

.comment,
.reply {
	border-top: 1px solid #cccccc;
	padding-top: 2em;
	padding-bottom: 3em;
}

.comment img,
.reply img {

	margin-right: 1.5em;
}
.img-name img{
	float: left;
}

.reply {
	margin-left: 10%;
}

.name {
	font-size: 1.3em;
	font-weight: bold;
	line-height: 1.5em;
}

.date {
	color: #758189;
	font-size: 1.1em;
	line-height: 1.5em;
}
.flag {
	margin-top: 3em;
}

.highlights {
	background: #596168;
	padding-top: 3.5em;
}

.highlights h2 {
	color: #bdc0c3;
	text-transform: capitalize;
	font-family : "futurastd", arial, sans-serif;
	font-size: 2em;
	margin-bottom: 2em;
	border-bottom: 2px solid #6a7177;
	padding-bottom: 1em;

}

.highlights-stories {
/*	margin-left: 2.5%;
*/	width: 95%;
	margin: 0 auto;
	padding-bottom: 1em;
}

.highlights-stories h3 {
	color: #93a0ac;
	font-size: 1.5em;
	text-transform: uppercase;
	font-family : "futurastd", arial, sans-serif;
	margin-bottom: 1em;
}

.highlights-stories p {
	color: #ffffff;
	text-transform: capitalize;
	font-size: 1.7em;
	line-height: 1.7em;
	margin-bottom: 2em;
}

.highlights-stories img {
	width: 100%;
	margin-bottom: 1em;
}

.footer {
	background: #bd5302;
	padding-bottom: 2em;
}

.footer h2 {
	color: #4c2101;
	text-transform: uppercase;
	font-family : "futurastd", arial, sans-serif;
	font-size: 1.7em;
}

.footer p {	
	color: #ffffff;
	text-transform: capitalize;
	font-size: 1.2em;
}

.footer a {
	color: #ffffff;
	text-transform: capitalize;
}

.footer-width {
	width: 95%;
	margin: 0 auto;
}

.footer-head {
	margin: 0 auto;
	/*margin-left: 10px;*/
	border-bottom: 1px solid #ca7535;
	margin-right: 10px;
	padding-top: 2em;
	padding-bottom: 2em;
}

.input-2 {
	width: 63%;
	height: 32px;
	margin-bottom: -10em;
	float: left;
	font-size: 1.2em;
	font-family: "merriweather","times new roman", serif;
	border-top: 3px solid #f2f2f2;
	border-left: 4px solid #f2f2f2;
	border-bottom: 3px solid #f2f2f2;
	border-right: 2px solid #f2f2f2;
	outline: 1px solid #cbcbcb;
	color: #666666;
	padding-left: 10px;
	margin-top: 1.15em; 
}

.btn-search-2 {
	width: 30%;
	max-width: 85px;
	height: 41px;
	float: right;
	font-size: 1.2em;
	color: #ffffff;
	background: #ec6803;
	text-transform: uppercase;
	border: none;
	font-weight: bold;
	margin-top: 1em;
}

.our-coverage-area,
.browse {
/*	width: 95%;
*/	text-align: left;
/*	margin-left: 10px;
*//*	float: left;*/
	padding-top: 20px;
	padding-bottom: 15px; 
}

.browse,
.quick-social {
	border-top: 1px solid #ca7535;
}
.quick-social {
/*	width: 95%;*/
	text-align: left;
/*	margin-left: 10px;
*/	padding-top: 20px; 
	height: 33em;
}
.column-1 {
	width: 50%;
	float: left;
}

.column-2 {
	width: 100%;
	float: left;
}

.column-1 a,
.column-2 a,
.column-3 a {
	padding-top: 5px; 
	font-size: 1.2em;
}

.column-1 a {
	line-height: 26px;
}

.column-2 a,
.column-2 span{
	line-height: 26px;
}
.column-3{
	height: 27.5em;
}
.column-3 a,
.column-3 span{
	line-height: 26px;
	font-size: 12px;
}

@media screen and (min-width: 480px) {
	.news-by {
		float: left;
/*		background: purple;
*/		width: 7em;
		padding-top: 2.6em;
		margin-right: 1.2em;

	}
	.top-head {
/*		background: red;
*/		width: 75%;
		float: left;
		height: 100%;
		margin-left:1em; 
	}
	.top-head h1 {
	font-size: 2.1em;
	margin-top: 1.4em;
	margin-left: 1em;
	}
/*	.inner {
		width: 90%;
		margin: 0 auto;
	}*/
	.page-width {
		width: 93%;
		margin-left: 5%;
	}
	.highlights-stories img{
/*		width: 48%;
*/	
	}
	.right {
/*			background: red;
*/			width: 49%;
			float: right;
	}
	.left {
		width: 49%;
		float: left;
	}
	.contain-1,
	.contain-2 {
		width: 100%;
	}

/*	.primary-nav {
		width: 90%;
		margin: 0 auto;
	}*/

	.search {
	margin-left: -10px;
	width: 98%;
	}
	.btn-search {
		margin-right: -.9em;
	}


	.primary-nav a:after {
		content: url(/css/img/right-arrow-2.jpg);
		float: right;
	}

	.primary-nav .no-top-border {
		margin-left: -9px;
	}

	.primary-nav li{
		margin-left: -9px;
	}
	.footer-width {
		width: 90%;
		margin: 0 auto ;
	}

}

@media screen and (min-width: 640px) {
/*	.browse {
		width:42.15%;
		float: left;
	}
	.quick-social {
		width: 55%;
		float: left;
		background: red;

	}*/
/*	.border-top-2 {
		background: red;
		border-top: 5px solid blue; 
	}*/
	.footer-head p {
		float: left;
		margin-top: 1em;
	}
	.search-2 {
		float: right;
		margin-top: -11px;
		width: 46.439628483%;
	}
	.move {
		width: 45% ;
		float: left;
		margin-right: 5%
	}
	.no-border-640 {
		border: none;
	}

	.rwd-line-2 {
	display: block;
	}
/*	.news-by {
		margin-top: 3em;
		margin-right: 2em;
	}*/
/*	.header-2 {
		padding-bottom: 4em;
	}*/
}
@media screen and (min-width: 712px) {
		.top-head h1 {
	font-size: 2.5em;
}
	.header-2 {
		padding-bottom: 4em;
	}
	.news-by {
		margin-top: 2em;
		margin-right: 2em;
	}
	.social-media {
		width: 140px; 
		float: right;
	}
	.more {
		float: left;
		padding-top: 1em;
	}
	.aleksandr-ankvab {
	/*	float: right;*/
		width: 75%;
		padding-top: 2em;
	}
	.analysis,
	.top-stories {
		float: right;
		border-bottom: none;
		width: 25%
	}

	.width-change {
		width: 55%
	}
	.news-secton {
		float: right;
	}


@media screen and (min-width: 800px) {
	.hide-text-2 {
	position: absolute;
    height: 0;
    clear: both;
    visibility: hidden;
	}

	.contain-3 {
		width: 70%;
/*		background: red;*/
	}

	.img-name {
		float: right;
		width: 30%;
	}
	.img-name p {
		font-size: 1em;
	}
	.img-name .date {
		font-size: .8em;
	} 
	.comment-1 {
		float: right;
		width: 75%;
		margin-right: 2em;
		margin-top: -35px;
		font-size: 12px;
	}
	.flag {
		clear: both;
	}
	.big-number {
		float: left;
		color: #d8d9da;
		margin-right: 5em;
		display: block;
		font-size: 3em;
	}
	.footer h2 {
	font-size: 1.5em;
}
	.our-coverage-area {
		float: left;
		width: 33%;
		border-top: none;
	}
	.browse {
		float: left;
		width: 33%;
		border-top: none;
	}
	.quick-social {
		float: right;
		width: 33%;
		border-top: none;
	}
	.highlights-stories h3 {
		font-size: 1.1em;
	}
	.highlights-stories p {
		font-size: 1.25em;
	}
	.contain-1,
	.contain-2 {
		width: 49.4%;
 		float: left;
 }
 	.contain-1 {
 		margin-right: .8em
 	}
	.logo {
		margin-left: 8em;
	}
	.top-head {
		margin-left: 5em;
		}
	.top-head h1 {
		font-size: 3.06em;
	}
	.social-media {
		float: left;
	}
	.aleksandr-ankvab {
		float: left;
		width: 50% ;
		margin-left: 3em;
	}
	.width-change {
		width: 50%;
		margin-left: 14em;
	}
/*	.border-top{
		padding-top: 12em;
	}*/

	.analysis,
	.top-stories {
		float: right;
	}

	.width-change {
		width: 50%
	}
/*	.news-secton {
		width: 
	}*/
	.your-comment {
		float: right;
		margin-top: -1em;
		margin-right: 2em;
		font-size: 1em;
	} 
	.comment-box {
		width:85%;
		float: right;
		margin-top: 2.5em;
 
	}
	.input-box {
		width: 70%;
		margin-top: -2em;
	}
	.float-left {
		float: left;
		margin-top: 2em;
	}
	.search {
		/*width: 75% ;*/
/*		position: absolute;
		bottom: 0px ;*/
		right: 10%;
/*		background: red;
*/
	}
	.body {
		width: 75%;
	}
	
	.right {
		float: right;
	}
	.related-section h2 {
		float: left;
		width: 10%;
		margin-top: 1em;
	}
	.right-800 {
		float: right;
		width: 91%;
		margin-top: -1em;
		margin-right: -6%;
	}
	.move {
		width: 30% ;
		max-width: 290px;
		float: left;
		margin-right: 2%;
	}
	.move img {
		width: 110px;
		height: 62px;

	}
		.no-border-800 {
		border: none;
	}
	.comments-section h2 {
		font-size: 1em;
	}
	.body{
		position: relative;
	}
}
@media screen and (min-width: 1000px) {
	.main-width-1000 {
		width: 80%;
	}
.primary-nav {
		position: fixed;
		top: 0px;
		right: 0px;
		width: 20%;
		padding-left: 1em;
		height: 100%;
	}
/*	.primary-nav li,
	.primary-nav .no-top-border {
		display: inline-block;
		width: 17%;
		margin-right: 1.5em;
		height: 1em;
		border-top: none;
		border-bottom: 1px solid #45494c;
	}*/

	.primary-nav .search {
		margin-bottom: .5em;
	}

		.primary-nav a {
			font-size: 1em;
	}
	.input {
			width: 75%;

	}
}
